html {
  background-color: var(--color-background);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
a {
  text-decoration: none;
}

a.post-message-link:hover {
  text-decoration: underline;
}

/* Login style */

.login-wrapper__header {
  background-color: #3b5998;
  padding: 10px 0 5px 0;
}
.login-wrapper__header .header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-wrapper__header .header-box .login-brand {
  color: #fff;
  font-size: 38px;
  font-weight: 700;
}
.login-wrapper__header .header-box .login-form {
  display: flex;
  align-items: baseline;
}
.login-wrapper__header .header-box .login-form__email,
.login-wrapper__header .header-box .login-form__password {
  margin-right: 15px;
}
.login-wrapper__header .header-box .login-form__email .title,
.login-wrapper__header .header-box .login-form__password .title,
.login-wrapper__header .header-box .login-form__email .forgot-password-link,
.login-wrapper__header .header-box .login-form__password .forgot-password-link {
  display: block;
  color: #fff;
  font-size: 12px;
}
.login-wrapper__header .header-box .login-form__email .forgot-password-link,
.login-wrapper__header .header-box .login-form__password .forgot-password-link {
  color: #9cb4d8;
}
.login-wrapper__header .header-box .login-form__email .input-login,
.login-wrapper__header .header-box .login-form__password .input-login {
  outline: none;
  font-size: 12px;
  padding: 2px 2px;
  margin: 4px 0;
}
.login-wrapper__header .header-box .login-form .btn-login {
  color: #fff;
  background-color: #4267b2;
  border: 1px solid #284584;
  padding: 2px 5px;
  font-weight: 500;
  align-self: center;
  font-size: 13px;
}
.login-wrapper__header .header-box .login-form .btn-login:hover {
  background-color: #3a5ca0;
}
.login-wrapper__content {
  background-color: #edf1fd;
}
.login-wrapper__content .content-box {
  display: flex;
}
.login-wrapper__content .content-box .content-left .image-description {
  display: block;
  color: #0e385f;
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
  margin-top: 40px;
  word-spacing: -1px;
  max-width: 90%;
}
.login-wrapper__content .content-box .content-right {
  margin-top: 40px;
}
.login-wrapper__content .content-box .content-right .account-info .info-label {
  color: #90949c;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  margin-top: 20px;
}
.login-wrapper__content
  .content-box
  .content-right
  .account-info
  .info-input
  .info-name {
  display: flex;
  justify-content: space-between;
}
.login-wrapper__content
  .content-box
  .content-right
  .account-info
  .info-input
  .info-name
  .account-input {
  width: 49%;
}
.login-wrapper__content
  .content-box
  .content-right
  .account-info
  .info-input
  .account-input {
  display: block;
  font-size: 18px;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #bdc7d8;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
}
.login-wrapper__content
  .content-box
  .content-right
  .account-info
  .user-birthday
  select {
  outline: none;
  width: 70px;
  font-size: 13px;
  height: 30px;
  padding: 5px;
  border: 1px solid #ccd0d5;
  margin-right: 10px;
}
.login-wrapper__content
  .content-box
  .content-right
  .account-info
  .user-gender
  label {
  font-size: 16px;
  margin-right: 20px;
  margin-left: 10px;
}
.login-wrapper__content .content-box .content-right .btn-sign-up {
  color: #fff;
  font-weight: 700;
  padding: 7px 40px;
  background-color: #3c5a98;
  display: inline-block;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
}
.login-wrapper__content .content-box .content-right .btn-sign-up:hover {
  background-color: #27427b;
}

/* Home style */
.input-form {
  padding: 10px 16px;
  font-size: 15px;
  background-color: #f0f2f5;
  border-radius: 50px;
  border: none;
  outline: none;
  margin-left: 10px;
  width: 100%;
  display: block;
}

.home-wrapper__header {
  background-color: var(--color-header);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  position: sticky;
  top: 0;
}
.home-wrapper__header .search-bar {
  display: flex;
  align-items: center;
  flex-basis: 22%;
  max-width: 22%;
}
.home-wrapper__header .user-tab-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  margin: 0 80px;
}
.home-wrapper__header .user-tab-list .user-tab-item {
  flex: 1;
  text-align: center;
  padding-bottom: 6px;
}
.home-wrapper__header .user-tab-list .user-tab-item svg {
  fill: #65676b;
}
.home-wrapper__header .user-tab-list .user-tab-item:first-child {
  border-bottom: 2px solid #1877f2;
}
.home-wrapper__header .user-tab-list .user-tab-item:first-child svg {
  fill: #1877f2;
}
.home-wrapper__main {
  padding: 15px;
  display: flex;
}
.home-wrapper__main .user-action {
  flex-basis: 22%;
  max-width: 22%;
}
.home-wrapper__main .user-action-list {
  list-style: none;
  position: sticky;
  top: 84px;
}
.home-wrapper__main .user-action-list .user-action-item {
  padding-top: 15px;
}
.home-wrapper__main .user-action-list .user-action-item .icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.home-wrapper__main .user-action-list .user-action-item span {
  font-size: 15px;
  font-weight: 600;
}
.home-wrapper__main .user-action-list .user-action-item:first-child {
  padding-top: 0;
}
.home-wrapper__main .post {
  flex: 1;
  margin: 0 80px;
}
.home-wrapper__main .post__add {
  background-color: var(--color-middle-content);
  box-shadow: 0 1px 2px #00000033;
  padding: 12px;
  border-radius: 7px;
}
.home-wrapper__main .post__add .post-title {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.home-wrapper__main .post__add .post-input {
  margin: 0;
}
.home-wrapper__main .post__add .post-image {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.home-wrapper__main .post__add .post-action {
  margin: 5px 0 0 0;
  display: flex;
  align-items: center;
}
.home-wrapper__main .post__add .post-action .btn-add-post,
.home-wrapper__main .post__add .post-action .btn-upload-image {
  color: #65676b;
  font-size: 15px;
  font-weight: 600;
  padding: 7px;
  cursor: pointer;
}
.home-wrapper__main .post__add .post-action .btn-add-post::before,
.home-wrapper__main .post__add .post-action .btn-upload-image::before {
  content: "";
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/cuAH_edCSx-.png");
  height: 20px;
  line-height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}
.home-wrapper__main .post__add .post-action .btn-add-post:hover,
.home-wrapper__main .post__add .post-action .btn-upload-image:hover {
  background-color: #d8dbe0;
  border-radius: 5px;
}
.home-wrapper__main .post__add .post-action #upload-image {
  display: none;
}
.home-wrapper__main .post__add .post-action .btn-add-post::before {
  background-position: 0 -33px;
  width: 19px;
}
.home-wrapper__main .post__add .post-action .btn-upload-image {
  margin-left: 20px;
}
.home-wrapper__main .post__add .post-action .btn-upload-image::before {
  background-position: 0 -208px;
  width: 24px;
  height: 24px;
}
.home-wrapper__main .post__list {
  list-style: none;
}
.home-wrapper__main .post__list .post-item {
  background-color: var(--color-middle-content);
  box-shadow: 0 1px 2px #00000033;
  padding: 12px;
  border-radius: 7px;
  margin-top: 15px;
}
.home-wrapper__main .post__list .post-item .poster-info {
  display: flex;
  align-items: center;
}
.home-wrapper__main .post__list .post-item .poster-info__image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.home-wrapper__main .post__list .post-item .poster-info__description {
  margin-left: 15px;
}
.home-wrapper__main .post__list .post-item .poster-info__description .name,
.home-wrapper__main .post__list .post-item .poster-info__description .time {
  display: block;
}
.home-wrapper__main .post__list .post-item .poster-info__description .name {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 5px;
}
.home-wrapper__main .post__list .post-item .poster-info__description .time {
  font-size: 12px;
}
.home-wrapper__main .post__list .post-item .post-item-message {
  font-size: 15px;
  margin: 10px 0 15px 0;
}
.home-wrapper__main .post__list .post-item .post-item-image {
  display: block;
  width: 100%;
}
.home-wrapper__main .post__list .post-item .post-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 12px 0 2px 0;
}
.home-wrapper__main .post__list .post-item .post-action .like,
.home-wrapper__main .post__list .post-item .post-action .comment,
.home-wrapper__main .post__list .post-item .post-action .share {
  color: #65676b;
  font-size: 15px;
  font-weight: 600;
  flex: 1;
  text-align: center;
}
.home-wrapper__main .post__list .post-item .post-action .like::before,
.home-wrapper__main .post__list .post-item .post-action .comment::before,
.home-wrapper__main .post__list .post-item .post-action .share::before {
  content: "";
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y0/r/2Yn8HNDtHCq.png");
  background-position: 0 -250px;
  width: 18px;
  height: 18px;
  display: inline-block;
  background-repeat: no-repeat;
  vertical-align: bottom;
  margin-right: 10px;
}
.home-wrapper__main .post__list .post-item .post-action .like::before {
  background-position: 0 -250px;
}
.home-wrapper__main .post__list .post-item .post-action .comment::before {
  background-position: 0 -174px;
}
.home-wrapper__main .post__list .post-item .post-action .share::before {
  background-position: 0 -307px;
}
.home-wrapper__main .user-friend {
  flex-basis: 24%;
  max-width: 24%;
}
.home-wrapper__main .user-friend .user-friend-box {
  position: fixed;
  top: 84px;
  z-index: 2;
  max-width: 24%;
  width: 100%;
  margin-right: 15px;
}
.home-wrapper__main .user-friend .title {
  margin-bottom: 10px;
}
.home-wrapper__main .user-friend .title .icon {
  width: 28px;
  height: 28px;
  vertical-align: middle;
  margin-right: 10px;
}
.home-wrapper__main .user-friend .title span {
  font-size: 15px;
  font-weight: 600;
}
.home-wrapper__main .user-friend .user-friend-list {
  list-style: none;
}
.home-wrapper__main .user-friend .user-friend-list .user-friend-item {
  margin-bottom: 15px;
}
.user-info {
  padding-top: 3px;
  border-radius: 8px;
}
.user-info:hover {
  cursor: pointer;
  background-color: #e4e6eb;
}

.user-info__image {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 10px;
}
.user-info__name {
  font-size: 15px;
  font-weight: 600;
}

.icon-box {
  width: 40px;
  height: 40px;
  background-color: #e4e6eb;
  border-radius: 50%;
  display: inline-block;
  margin-left: 10px;
  cursor: pointer;
  position: relative;
}
.icon-box .notification-number {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 14px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: block;
  text-align: center;
}
.icon-box svg {
  transform: translate(50%, 50%);
}
.icon-box:hover {
  background-color: #d0d2d6;
}

.setting-icon span {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yX/r/X8MSNQozyqh.png");
  width: 20px;
  height: 20px;
  background-position: 0 -750px;
  display: inline-block;
  transform: translate(50%, 50%);
}

.user-setting {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 24%;
  max-width: 24%;
}

.search-friend {
  background-color: #fff;
  box-shadow: 0 1px 2px #00000033;
  padding: 12px;
  border-radius: 7px;
  max-width: calc(54% - 160px);
  margin: 0 auto;
  margin-top: 20px;
}
.search-friend .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.search-friend .search-list-friend {
  list-style: none;
}
.search-friend .search-list-friend .friend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  border-top: 1px solid #ced0d4;
}
.search-friend .search-list-friend .friend-item .user-info__image {
  width: 60px;
  height: 60px;
}
.search-friend .search-list-friend .friend-item .icon-box .icon-friend-request {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/SbN19-i0jyB.png");
  background-position: 0 -42px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  transform: translate(50%, 50%);
}
.search-friend .search-list-friend .friend-item .icon-box.success {
  background-color: #9cc3eb;
  display: none;
}
.search-friend .search-list-friend .friend-item .icon-box .icon-friend-request-success {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y-/r/SbN19-i0jyB.png");
  background-position: 0 56px;
  display: inline-flex;
  width: 20px;
  height: 20px;
  transform: translate(50%, 50%);
}
.search-friend .search-list-friend .friend-item:first-child {
  border-top: 0;
  padding-top: 0;
}
.search-friend .search-list-friend .friend-item:last-child {
  padding-bottom: 0;
}

.request-friend {
  position: fixed;
  top: 84px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 2px #00000033;
  padding: 12px;
  border-radius: 7px;
  width: 24%;
  margin-right: 15px;
  z-index: 1000;
  margin-left: auto;
  display: none;
}
.request-friend .title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
.request-friend .request-list-friend {
  list-style: none;
}
.request-friend .request-list-friend .request-friend-item {
  margin-top: 10px;
}
.request-friend .request-list-friend .request-friend-item .user-info {
  display: flex;
}
.request-friend .request-list-friend .request-friend-item .user-info__image {
  width: 60px;
  height: 60px;
}
.request-friend .request-list-friend .request-friend-item .user-info__name {
  display: block;
}
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-confirm,
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-delete {
  height: 30px;
  width: 76px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-confirm {
  background-color: #1772e8;
  color: #fff;
}
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-confirm:hover {
  background-color: #1369d8;
}
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-delete {
  background-color: #e4e6eb;
  color: #2e2f30e3;
}
.request-friend .request-list-friend .request-friend-item .user-info__description .btn-delete:hover {
  background-color: #d4d6da;
}

.user-profile {
  position: fixed;
  top: 84px;
  right: 0;
  background-color: #fff;
  box-shadow: 0 1px 3px #00000033;
  padding: 12px;
  border-radius: 7px;
  width: 24%;
  margin-right: 15px;
  z-index: 1000;
  display: none;
}
.user-profile .user-info {
  display: flex;
}
.user-profile .user-info .user-info__image{
    width: 60px;
    height: 60px;
}
.user-profile .user-info .user-info__description {
  flex: 1;
}
.user-profile .user-info .user-info__description .user-info__name {
  font-size: 18px;
  display: block;
}
.user-profile .user-info .user-info__description .user-info-detail {
  font-size: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.user-profile .user-info .user-info__description .user-info-detail .icon-gender,
.user-profile .user-info .user-info__description .user-info-detail .icon-birthday {
  vertical-align: text-bottom;
  margin-right: 10px;
}
.user-profile .user-info .user-info__description .user-info-detail .user-info-detail__gender,
.user-profile .user-info .user-info__description .user-info-detail .user-info-detail__birthday {
  font-size: 15px;
}
.user-profile .user-profile-action-list{
  list-style: none;
}
.user-profile .user-profile-action-list .user-profile-action-item{
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  margin-top: 15px;
}
.user-profile .user-profile-action-list .user-profile-action-item:hover {
  background-color: #c4c9d5;
  cursor: pointer;
  border-radius: 8px;
}
.user-profile .user-profile-action-list .user-profile-action-item .icon-box {
  margin-right: 10px;
}

.icon-dark-mode {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/w5T3yUe_eQ4.png");
  background-position: 0 -680px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translate(50%, 50%);
}

.icon-logout {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/w5T3yUe_eQ4.png");
  background-position: 0 -617px;
  display: inline-block;
  width: 20px;
  height: 20px;
  transform: translate(50%, 50%);
}

.message-box-list {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  margin-right: 15px;
}
.message-box-list .message-box {
  background-color: #fff;
  box-shadow: 0 1px 2px #00000033;
  padding: 12px;
  border-radius: 7px;
  margin-right: 10px;
  width: 320px;
}
.message-box-list .message-box__header {
  border-bottom: 1px solid #ced0d4;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.message-box-list .message-box__header .icon-close {
  cursor: pointer;
}
.message-box-list .message-box__content {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  height: 300px;
  font-size: 15px;
  padding: 10px 0;
}
.message-box-list .message-box__content .line {
  background: #eee;
  border-radius: 8px;
  padding: 8px;
  margin: 4px 8px 4px 0;
}
.message-box-list .message-box__content .line.ours {
  align-self: flex-end;
  margin: 2px 0 2px 8px;
  background-color: #1877f2;
  color: #fff;
}
.message-box-list .message-box__content .line a {
  color: #fff;
  text-decoration: underline;
}
.message-box-list .message-box__footer {
  display: flex;
  align-items: center;
}
.message-box-list .message-box__input {
  display: flex;
  align-items: center;
}
.message-box-list .message-box__input input[type=text] {
  margin-right: 10px;
  font-size: 15px;
}
.message-box-list .message-box__input input[type=file] {
  display: none;
}
.message-box-list .message-box__input .btn-upload-image {
  display: inline-block;
  padding: 5px;
}
.message-box-list .message-box__input .btn-upload-image::before {
  content: "";
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y3/r/cuAH_edCSx-.png");
  height: 20px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: 0 -208px;
  width: 24px;
  height: 24px;
}
.message-box-list .message-box__input .btn-upload-image:hover {
  background-color: #d8dbe0;
  border-radius: 5px;
}

.theme-light {
  --color-background: #f3f3f3;
  --font-color: #000000;
  --color-header: #fff;
  --color-middle-content: #fff;
}
.theme-dark {
  --color-background: #18191a;
  --font-color: #dddfe4;
  --color-header: #242526;
  --color-middle-content: #242526;
}

.login-wrapper {}
.login-wrapper .login-wrapper__content.forgot{
  padding: 100px 0;
  background-color: #f3f3f3;
}
.login-wrapper .login-wrapper__content .forgot-box{
  max-width: 50%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
}
.login-wrapper .login-wrapper__content .forgot-box .forgot-box__title{
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.login-wrapper .login-wrapper__content .forgot-box .forgot-box__input {
  margin-left: 20%;
}
.login-wrapper .login-wrapper__content .forgot-box .forgot-box__description{
  font-size: 13px;
  display: block;
  margin: 10px 0 5px 0;
}
.login-wrapper .login-wrapper__content .forgot-box .forgot-box__text {
  outline: none;
}
.login-wrapper .login-wrapper__content .forgot-box .btn-recover{
  margin-left: 10px;
  background-color: #4267b2;
  color: #fff;
  outline: none;
  padding: 3px 5px;
  border: none;
  cursor: pointer;
}
.login-wrapper .login-wrapper__content .forgot-box .btn-recover:hover {
  background-color: #304e89;
}